.information_section_wrapper {
  display: flex;
  justify-content: space-between;
}

.text_container {
  width: 40%;
  margin-bottom: 2em;
}

.information_container {
  width: 55%;
  display: flex;
  gap: 1em;
  justify-content: center;
}

.information_container svg {
  font-size: 5rem;
  color: var(--green);
  margin-bottom: 0.4em;
}

.information_container h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--nero);
  min-height: 3em;
  margin-bottom: 0.5em;
}

.information_container article {
  background-color: #efefef;
  padding: 1em;
}

.information_container article span {
  color: var(--green);
}

.link_container {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1400px) {
  .information_section_wrapper {
    flex-direction: column;
    text-align: center;
  }

  .text_container {
    width: 100%;
    margin-bottom: 3em;
  }

  .information_container {
    width: 100%;
    margin-bottom: 2em;
  }

  .link_container {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .information_container {
    flex-direction: column;
    align-content: center;
  }

  .information_container div {
    width: 100%;
  }

  .link_container {
    align-items: center;
    flex-direction: column;
  }
  .link_container a {
    margin-bottom: 1em;
  }
}
