.listings_wrapper {
  display: flex;
  padding: 5em 2em;
}

.search_wrapper {
  width: 25%;
  padding-inline: 5em;
}

.search_wrapper .button-container {
  justify-content: center;
}

.car_preview_wrapper {
  width: 75%;
  padding-left: 2em;
}

.secondary_search_wrapper {
  width: 75%;
  margin: auto;
  justify-content: space-between;
}

.secondary_search_wrapper select {
  margin: 1em;
}

@media (max-width: 1400px) {
  .listings_wrapper {
    flex-direction: column;
    padding: 3em 0.5em;
  }

  .search_wrapper {
    width: 100%;
    margin-bottom: 3em;
  }
  .car_preview_wrapper {
    width: 100%;
    padding: 0;
  }

  .secondary_search_wrapper {
    text-align: center;
  }
}
