.form_header {
  text-align: center;
  margin: 1em 0;
  color: var(--nero);
  font-size: 3rem;
}

.form {
  background-color: #ffffff;
  padding: 1.5em;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-inline: auto;
}

.inputs_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
}

.flex_wrapper {
  display: flex;
  gap: 1em;
}

.error {
  padding: 1em;
  background-color: var(--warning-background);
  color: var(--warning-text);
  border-radius: 0 0 5px 5px;
  margin-bottom: 1em;
}

.input {
  padding: 0.8em;
  border: 2px solid var(--gray-border);
  background: none;
  font-size: 16px;
  width: 100%;
}

.input::placeholder {
  color: #a1a1a1;
  font-weight: 500;
}

.invalid_input {
  border-color: var(--warning-text);
}

.invalid_input::placeholder {
  color: var(--warning-text);
}

.input:focus {
  outline: none;
}

@media (max-width: 768px) {
  .form {
    padding: 1.5em 0.5em;
  }
}
