:root {
  font-family: "Montserrat", serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --green: #109b5a;
  --dark-green: #0f884f;
  --light-green: #ecf9ed;
  --transparent-green: rgba(13, 124, 72, 0.8);
  --text: #f0f0f0;
  --nero: #2b3944;
  --gray: #a7a7a7;
  --gray-border: #d2d2d2;
  --warning-background: #ffeaed;
  --warning-text: #931a33;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23109b5a" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

table {
  border: 2px solid var(--gray);
  border-radius: 2px;
  border-collapse: collapse;
}

thead th,
tbody td {
  padding: 0.5em 1em;
  border-bottom: 2px solid var(--gray);
  border-right: 2px solid var(--gray);
}

@media (max-width: 768px) {
  table {
    font-size: 0.5;
  }
}

@media (max-width: 992px) {
  table {
    font-size: 0.8rem;
  }
}

label {
  display: block;
  color: var(--gray);
  font-weight: 500;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='green' height='35' viewBox='0 0 24 24' width='35' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  width: 15em;
  border: 2px solid var(--gray);
  outline: none;
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: 600;
  padding: 1em;
  font-size: 1rem;
}

option {
  font-weight: 600;
}

option:hover {
  box-shadow: 0 0 10px 100px #1882a8 inset;
}

svg {
  color: var(--green);
}

a:visited {
  color: var(--text);
}

.color-green {
  color: var(--green);
}

.paragraph {
  color: var(--gray);
  line-height: 2em;
}

.color-nero {
  color: var(--nero);
}

.large-header {
  font-size: 4rem;
  color: var(--nero);
}

.seperating-border {
  margin: 10em 0;
  background-color: var(--gray-border);
  height: 1em;
}

.margin-top {
  margin-top: 5em;
}

.button-container {
  margin: 1em 0;
  display: flex;
  justify-content: end;
}

@media (max-width: 768px) {
  .button-container {
    justify-content: center;
  }
}

.button {
  background: none;
  border: none;
  color: var(--text);
  display: block;
  align-content: center;
  font-size: 1.7rem;
  font-weight: 600;
  width: 9.5em;
  min-height: 2em;
  padding: 0.2em 0;
  transition: 0.3s ease;
  border-radius: 2px;
  z-index: 0;
  text-align: center;
}

.primary-button {
  background-color: var(--green);
  position: relative;
  margin-left: 0.5em;
}

.primary-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: var(--dark-green);
  transition: 0.3s linear;
  z-index: -1;
}

.primary-button:hover::before {
  width: 100%;
}

.secondary-button {
  border: 3px solid var(--text);
  position: relative;
}

.secondary-button::before {
  content: "";
  position: absolute;
  height: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: var(--text);
  transition: 0.3s linear;
  z-index: -1;
}

.secondary-button:hover::before {
  height: 100%;
}

.secondary-button:hover {
  color: var(--nero);
}

.danger-button {
  background-color: rgb(255, 163, 163);
  color: #ff0000;
  border: none;
  padding: 0.5em;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

.secondary-link {
  color: var(--nero);
}

.secondary-link:visited {
  color: var(--nero);
}

.green-header {
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
